{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static 'frontSys/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'frontSys/css/site.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'frontSys/js/jquery.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontSys/js/bootstrap.js' %}" type="text/javascript"></script>
  <script src="{% static 'frontSys/js/global.js' %}" type="text/javascript"></script>
  
</head>
<body>
<div   class="container">


{%include "frontSys/header.html"%}


<div class="panel panel-success">
  <div class="panel-heading news_heading">
    <h2 class="featurette-heading">{{ article.title }}</h2>
    <span class="text-muted">{{article.introduction}}</span>
  </div>
  <div class="panel-body news" >
    <p class="lead">{{ article.content |safe}}</p>
  </div>


</div>

<div class="panel panel-success" id='answer' style='display:none'>
  <div class="panel-heading news_heading">
    <h3 class="panel-title">Answer</h3>
  </div>
  <div class="panel-body news" id= 'ans'> 

  </div>
</div>
<div class="push"></div>
</div>
{%include "frontSys/footer.html"%}

</body>
</html>
